---
const { title, description, ogImage = "" } = Astro.props;

// const imageUrl = ogImage ? Astro.url.origin + ogImage : Astro.url.origin + "/cover.jpg";
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/BlogFavicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <title>{title}</title>
  <meta name="description" content={description} />

  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <!-- <meta property="og:image" content={imageUrl} /> -->
</head>